body {
    background-image: url('clean.png'); /* Path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a semi-transparent white background to the container for readability */
}

h1 {
    font-size: 36px;
}

.contact {
    font-style: italic;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}


main, aside {
    display: inline-block;
    vertical-align: top;
}

main {
    width: 70%;
}

aside {
    width: 30%;
    padding-left: 20px;
}

/* Styles for the interest form */
.interest-form {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
}

.interest-form form {
    display: grid;
    grid-gap: 10px;
}

.interest-form input[type="text"],
.interest-form input[type="email"],
.interest-form select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.interest-form input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.interest-form input[type="submit"]:hover {
    background-color: #45a049;
}
